/* Head */
:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --green-color:#00b214;
    --gray2-color:#999999;
    --navbar-height:34px;
    --header-height:200px;
    --oragne-color:#fa5030;
    --red-color:#ff0000;
    --header-with-search:calc(var(--header-with-search) - var(--navbar-height))
  }
  * {
    box-sizing: inherit;
  }
  html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
  }
  /* responsive */
  .grid {
    width: 1200px;
    max-width: 100%;
  
  }
  
  .header0 {
    height: var(--header-height);
    background-image: linear-gradient(0,#fa5030,#f53d2d);
  }
  .navbar__list {
    margin: 4px 0 15px 0;
    list-style: none;
    display: flex;
    padding-left: 0;
    font-size: 1.8rem;
    color: var(--white-color);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar__item,.navbar___link {
    display: inline-block;
    padding: 0 8px;
    text-decoration: none;
    color: var(--white-color);
  }
  .navbar__item,.navbar___link,.icon {
    display: inline-flex;
    align-items: center;
  
  }
  .navbar__item:hover,.navbar___link:hover,.navbar__iccon:hover {
    cursor: pointer;
    color: rgb(255,255,255,0.7);
  }
  .navbar__iccon{
    color: var(--white-color);
    text-decoration: none;
  }
  .navbar__iccon-fb:nth-child(2){
    margin-left:4px;
  }
  .icon {
    font-size: 1.5rem;
  }
  .navbar__item  .navbar__item--nopoint{
    cursor: text;
    color: var(--white-color);
  
  }
  .navbar__item {
    position: relative;
  }
  .icon {
    margin: 8px;
  }
  .headerqr{
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    top:120%;
    padding: 8px 0;
    border-radius: 2px;
    display: none;
  }
  .headercode__img {
    width: 100%;
  }
  .headerqr__tittle {
    display: flex;
    justify-content: space-between;
  
  }
  .header__img{
    height: 14px;
    margin:0 11px;
  }
  .navbar__qr:hover .headerqr {
    display: block;
  
  }
  /* .headerqr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    top:-10px;
  } */
  
  @keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
  }
  @keyframes fadeIn {
    form {
        opacity: 0;
    } to {
        opacity: 2;
    }
  }
  .btn {
    width: 100%;
    height: 38px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding:0 8px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .form__social {
    background-color:#c3c3c3;
    padding: 16px 26px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 32px;
  }
  .header-with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    margin: 10px 8px;
  }
  .header__logo {
    width: 200px;
    height: 100px;
  }
  .header__logo-img {
    width: 150px;
    height: 100px;
    color: var(--white-color);
  }
  .header__search {
    display: flex;
    flex: 1;
    border-radius:2px ;
    height: 40px;
    background-color: var(--white-color);
    align-items: center; 
  }
  .header__cart {
    text-align: center;
    width: 150px;
  }
  .header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
  }
  .header__cart-list {
    position: absolute;
    top: 150%;
    right: -10px;
    width: 410px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    cursor: default;
    display: none;
  }
  .header_cart-icon {
    color: var(--white-color);
    font-size: 2rem;
  }
  .header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 0 16px;
    border-radius: 3px;
  }
  .search__select {
    border-left:1px solid #cccc;
    padding-left: 0 16px;
    cursor: pointer;
    display: flex;
  }
  .search__select-label{
    font-size: 1.4rem;
    color: var(--black-color);
  }
  .search__select-icon {
    font-size: 1.4rem;
    color: var(--black-color);
    margin: 0 16px;
    position: relative;
    top: 1px;
  }
  .header__search-btn {
    background-color: #f8472f;
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
    width: 60px;
  }
  .header__search-btn:hover {
    cursor: pointer;
    background-color: rgba(248,71,47,0.9);
  }
  .header__search-icon {
    color: var(--white-color);
  }
  .search__select:hover .header__searh-option {
    display: block;
  }
  .header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
  }
  .search-history {
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 1px;
    box-shadow: 0 1px 5px rgb(172,172, 172);
    display: none;
  
  }
  .search__history-heading {
    margin: 15px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
  } 
  .search__history-list {
    padding-left: 0;
    list-style: none;
    color: var(--black-color);
    margin-bottom: 0;
  }
  .search__history-item {
    height: 38px;
    padding: 0 12px;
  }
  .search__history-item a {
    text-decoration: none;
    line-height: 38px;
    color: var(--black-color);
    font-size: 1.4rem;
    display: block;
  }
  .search__history-item:hover {
    background-color: #fafafa;
  }
  .search__history-item:last-child{
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
  }
  .header__search-input:focus ~.search-history {
    z-index: 1;
    display: block;
  }
  .header__cart-notice {
    position: absolute;
    padding: 1px 4px;
    font-size: 1.4rem;
    line-height: 0.9rem;
    top:-4px;
    right: -4px;
    color: var(--text-color);
    background-color: var(--white-color);
    border: 2px solid#ee4d2d;
    border-radius: 50px;
  }
/* Dung khung */

/* :root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --green-color:#00b214;
    --gray2-color:#999999;
} */
/* body {
    box-sizing: inherit;
    margin: 0;;
}
body {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
} */

/* Head */
.contain {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0rem);
    padding-left: var(--bs-gutter-x, 0rem);
    margin-right: auto;
    margin-left: auto;
}
.navbar__pre {
    display: flex;
    align-self: center;
}

.head1-left {
    display:flex;
    font-size: 1.2rem;
    line-height: 1.4rem;
    align-items: center;
}
.head1-right__icon {
    min-width: 100px;
}
.phone-icon {
    margin: 0 5px;
    line-height: 1.2;
}
.fb-icon {
    margin: 0 10px;
    line-height: 1.2;
}
.head2 {
    position: relative;
}
.head2-border {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}
.head2-left {
    display: flex;
    align-items: center;
    padding-left: 130px;
    padding-right:30px ;
    margin-right:50px ;
    min-width: 300px;
}
.head2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 5px 0;
}
.head3 {
    display: flex;
    align-items: center;
}
.head2-search__input {
    width: 80%;
    height: 50px;
    margin-right: -5px;
}
.head2-search_btn {
    height: 50px;
    width: 60px;
}
.head2-right {
    display: flex;
}
.head2-logo {
    width: 200px;
    margin:10px 0 10px 0;
    padding: 0px;
}
.head2__logo {
    width: 300px;
    height: 150px;
}
.duong-gach {
    border-left:1px solid var(--gray2-color) ;
}
.mg {
    margin: 0 10px;
}


.footer-text {
  color: var(--white-color);
  background-color: var(--oragne-color);
  font-size: 1.6rem;
}
.bor {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: transform linear 0.1s;
  will-change: transform;
}
.bor:hover {
  transform: translateY(-3px);
}

.sidebar {
  background-color: var(--oragne-color);
  color: var(--white-color);
  height: 100%;
}
.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.sidebar a {
  margin-left:10px ;
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size: 2rem;
  text-decoration: none;
}
.a:hover {
  color:var(--text-color);
}
.content {
  background-color: whitesmoke;
}
.font {
  font-size: 2rem;
}